@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: marsh-stencil;
    src: url(/Fonts/marsh-stencil.otf);
}

body {
    @apply w-screen h-screen overflow-x-hidden overflow-y-auto;
    @apply bg-white;
    @apply font-brix text-black;

    & #root {
        @apply w-full max-w-full;
    }

    p {
        @apply font-brix text-black text-18 font-400 text-center leading-33;
        @apply tablet:max-w-[450px] tablet:text-left;
        @apply laptop:max-w-[500px];

        .p--bold {
            @apply font-nitti-cameo;
        }

        &:has(+ p)
        {
            @apply mb-60;
        }
    }

    h1 {
        @apply font-nitti-cameo text-40 text-center;
        @apply mb-60;

        @apply laptop:text-64;
    }

    h2 {
        @apply font-nitti-underlined text-28 text-center;
        @apply mb-60;

        @apply laptop:text-36 laptop:text-left;

    }

    main.main {
    @apply w-full max-w-full;
    @apply flex flex-col items-center;

    .content {
        @apply mx-0 laptop:mx-30;
        @apply w-full max-w-[1640px];

        @apply flex flex-col justify-start items-center gap-150;

        & .text {
            @apply w-full max-w-[1280px];
            @apply px-30 laptop:px-30;
            @apply z-20;
        }
        
        .hero {
            @apply w-full relative;

            &--text {
                @apply relative left-0 top-0  z-20;
                @apply flex flex-col items-center -mt-[300px];
                @apply w-full max-w-[1440px];

                @apply laptop:absolute;
                @apply laptop:mt-60 laptop:items-end;
                @apply desktop:mt-120;
            }
            
        }

        .timeline {

            @apply -mt-[10%] z-10 relative;

            &--gradient-bars {

                @apply hidden desktop:block;
                
                @apply fill-white;

                & rect:first-child {
                    fill: url(#left-to-right);
                }

                & rect:last-child {
                    fill: url(#right-to-left);
                }
            }

            &--stars {
                @apply w-full h-full absolute left-0 top-0 z-20;
            }

            &--dates {
                @apply w-full mt-[5%] laptop:-mt-[1%] z-20 relative;


                &--single {
                    @apply absolute left-[50%] top-[50%];
                    transform: translate(-50%, -50%);

                    @apply flex flex-col justify-start items-center px-30 py-15;
                    width: calc(100vw - 30px);
                    @apply max-w-[450px];

                    @apply bg-black rounded-sm text-white;

                    &--date {
                        font-family: marsh-stencil;
                        @apply text-28;
                    }

                    &--description {
                        @apply text-white text-center;
                    }
                }
            }

        }

        
        .chapters {
            @apply flex flex-col items-center justify-start gap-150;
            @apply max-w-full;

            .chapter {
                @apply w-full;
                @apply flex flex-col items-center;
            }

            
        }

        .interaction
        {
            @apply w-full px-15 max-w-[1280px];
            

            &--content {
                @apply bg-teal border-solid border-black border-2;
                @apply py-60;
                @apply flex flex-col items-center;
            }

            &--subtitle {
                @apply font-brix text-22 font-700 italic text-center;
                @apply mb-60;
            }

            .robbers-game {

                @apply flex flex-row flex-wrap gap-30 p-30;
                @apply w-full;
                @apply tablet:gap-60 tablet:max-w-[630px] laptop:max-w-[1080px];

                &--silhouette {
                    @apply bg-black rounded-full relative;
                    @apply aspect-square;
                    @apply tablet:max-w-[150px] laptop:max-w-[210px];
                    width: calc(33.33% - 20px);

                }
            }
        }

        .split-paragraph {
            @apply flex flex-col justify-between gap-60;

            @apply laptop:flex-row laptop:gap-0;

            &--divider {
                @apply hidden laptop:block;
            }
        }

        .text-image {
            @apply w-full;
            @apply flex flex-col;
            @apply laptop:flex-row laptop:justify-between;
        }
    }
}

    .loading-screen {
        @apply absolute left-0 top-0 right-0 bottom-0;
        @apply bg-red text-white;

        @apply flex flex-col justify-center items-center;
    }

}

